<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>WanPlus Noodle Restaurant</title>
    <style>
    #menu-list h2, #menu-list h3{
      margin: 0;
    }

    #menu-list div {
      border: 1px solid gray;
      box-shadow: 0 4px 4px rgba(0,0,0,0.4);
      padding: 1rem;
      border-radius: 0.5rem;
    }

    #menu-list td {
      padding-bottom: 0.6rem;
    }

    #menu-list h3 {
      font-weight: normal;
    }
    </style>
</head>
<body>
<div class="py-3 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto p-4 col-md-7">
                <h1 class="mb-4">WanPlus Noodle Restaurant</h1>
                <p class="mb-4">Insert parameters</p>
                <form th:action="@{/newMenu}" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Menu name">
                        <select class="form-control" name="type">
                            <option value="" selected="" disabled="">Select Category</option>
                            <option value="SnevnezhaShirataki">Shirataki</option>
                            <option value="InuzumaRamen">Ramen</option>
                            <option value="LiyuanSoba">Soba</option>
                            <option value="MondoUdon">Udon</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="py-3 text-center">
    <h2 style="text-align: center; font-size: x-large;">MENU</h2>
</div>
<table id="menu-list" style="margin: auto">
    <tr>
        <td>
            <div>
                <div class="border" th:each="menu:${RestaurantMenu}">
                    <h2 th:text="${menu.getName()}"></h2>
                    <h3 th:text="${menu.getNoodle().getDescription()}"></h3>
                    <h3 th:text="${menu.getMeat().getDescription()}"></h3>
                    <h3 th:text="${menu.getTopping().getDescription()}"></h3>
                    <h3 th:text="${menu.getFlavor().getDescription()}"></h3>
                </div>
            </div>
        </td>
    </tr>
    <!-- ulangin terus buat semua item di list -->
</table>
</body>
</html>